body{
  background: #342140;
}

.menu{
  margin-top:0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  box-sizing: border-box;
}

.menu li{
  display: inline-block;
  line-height: 2;
  border-radius: 0px;
  padding: 5px
}
.menu li a{
  color: #ffff;
  font-weight: bolder;
  text-decoration: none;
   padding: 0.8rem 1rem;
}

#vermelho {
  background-color: #9B63BF;
  border-radius: 0.5rem;
}