body{
  background: #342140;
}

.menu{
  margin-top:0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 0px 32px;
  box-sizing: border-box;
}

.menu li{
  display: inline-block;
  line-height: 2;
  border-radius: 0px;
  padding: 5px
}
.menu li a{
  color: #ffff;
  font-weight: bolder;
  text-decoration: none;
   padding: 0.8rem 1rem;
}

#vermelho {
  background-color: #9B63BF;
  border-radius: 0.5rem;
}

.especialidades {
  background: #9B63BF;
  padding: 30px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:30px;
  border-radius: 20px;
}

h1{
  font-size: 3rem;
  text-align:center;
  color:#FFFFFF;
}

.nome-especialidade{
  font-size:1.5em;
  color: #342140;
}

.lista-especialidades{
  display: inline;
  vertical-align: top;
  width: 20%;
  margin-top: 8%;
  margin: auto auto;
  color:#ffffff;
  list-style-type: none;
}

h2{
  color: #342140;
}
