body{
  background: #342140;
}

.menu{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:90px;
  padding: 0px 32px;
  box-sizing: border-box;
 
}

.menu li{
  display: inline-block;
  line-height: 2;
  border-radius: 0px;
  padding: 5px
}
.menu li a{
  color: #ffff;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

#vermelho {
  background-color: #9B63BF;
  border-radius: 0.5rem;
}

#banner{
  background: #9B63BF;
  box-shadow: 0 0 1em #9B63BF;
  max-width:100%;
  max-height:40em;
  width: 90%;
  height: 30em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:30px;
  border-radius: 20px;
}

.principal{
   background: #9B63BF;
  padding: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:30px;
  border-radius: 20px;
  box-shadow: 0 0 1em #9B63BF;
}

.titulo-centralizado {
  text-align: center;
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
}

.titulo-principal {
  padding-left: 20px;
}

p{
text-align:center;
font-size: 1.2em;
line-height: 2em;
}

#missao{
    font-size: 20 px;
}
em strong{
    color: white;
}
.itens{
  font-size: 1.2em;
  text-align:center;
  line-height: 1.2em;
}

.beneficios {
  background: #9B63BF;
  padding: 30px;
  text-align: 30%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:30px;
  border-radius: 20px;
  box-shadow: 0 0 1em #9B63BF;
}

.lista-beneficios{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 10%;
}

.imagembeneficios{
    width: 50%;
   height: 50%; 
   border-radius: 50%;
}
footer{
  text-align:center;
  color: #BCA6CA;
}